@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
}

main {
  padding-top: 60px;
}

.bg-content-1 {
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   38deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(25, 53, 189, 1) 42%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
}

.bg-content-2 {
  // background: rgb(75, 75, 75);
  // background: -moz-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(36, 189, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: -webkit-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(36, 189, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(36, 189, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4b4b",endColorstr="#00d4ff",GradientType=1);
}

.bg-content-3 {
  // background: rgb(75, 75, 75);
  // background: -moz-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 176, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: -webkit-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 176, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 176, 25, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4b4b",endColorstr="#00d4ff",GradientType=1);
}

.bg-content-4 {
  // background: rgb(75, 75, 75);
  // background: -moz-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 25, 177, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: -webkit-linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 25, 177, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // background: linear-gradient(
  //   38deg,
  //   rgba(75, 75, 75, 1) 0%,
  //   rgba(189, 25, 177, 1) 45%,
  //   rgba(0, 212, 255, 0.6306897759103641) 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4b4b",endColorstr="#00d4ff",GradientType=1);
}

.bg-welcome {
  display: flex;
  align-items: center;
  justify-content: center;

  // background: rgb(131, 58, 180);
  // background: -moz-linear-gradient(
  //   111deg,
  //   rgba(131, 58, 180, 1) 0%,
  //   rgba(253, 29, 29, 1) 50%,
  //   rgba(252, 176, 69, 1) 100%
  // );
  // background: -webkit-linear-gradient(
  //   111deg,
  //   rgba(131, 58, 180, 1) 0%,
  //   rgba(253, 29, 29, 1) 50%,
  //   rgba(252, 176, 69, 1) 100%
  // );
  // background: linear-gradient(111deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);

  > h2 {
    // color: #000;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
  }
}
