.swiper {
  width: 380px;
  height: 460px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  // border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
  padding: 24px;
}

.swiper-button {
  &-prev,
  &-next {
    color: #000 !important;
    width: 10px !important;

    :after {
      width: 10px !important;
    }

    &:hover {
      transition: 0.2s ease-in-out;
      color: #007aff !important;
    }

    @media screen and (max-width: 900px) {
      display: none !important;
    }
  }
}

.swiper-pagination-horizontal {
  bottom: 0px !important;

  @media screen and (max-width: 420px) {
    display: none !important;
  }
}

// .swiper-pagination {
//   background-color: #fff;
//   padding: 4px;
//   border-radius: 30px;
//   content: "";
//   max-width: fit-content;
//   position: absolute !important;
//   bottom: 0px;
//   left: 50%;
//   right: 50%;
//   transform: translate(-50%, 0);

//   & span {
//     background-color: #000;
//   }
// }

// .swiper-slide:nth-child(1n) {
//     background-color: rgb(206, 17, 17);
// }

// .swiper-slide:nth-child(2n) {
//     background-color: rgb(0, 140, 255);
// }

// .swiper-slide:nth-child(3n) {
//     background-color: rgb(10, 184, 111);
// }

// .swiper-slide:nth-child(4n) {
//     background-color: rgb(211, 122, 7);
// }

// .swiper-slide:nth-child(5n) {
//     background-color: rgb(118, 163, 12);
// }

// .swiper-slide:nth-child(6n) {
//     background-color: rgb(180, 10, 47);
// }

// .swiper-slide:nth-child(7n) {
//     background-color: rgb(35, 99, 19);
// }

// .swiper-slide:nth-child(8n) {
//     background-color: rgb(0, 68, 255);
// }

// .swiper-slide:nth-child(9n) {
//     background-color: rgb(218, 12, 218);
// }

// .swiper-slide:nth-child(10n) {
//     background-color: rgb(54, 94, 77);
// }
